
body {
    margin: 0;
    padding: 0;
    background-image: url("../Images/O3.JPEG");
    background-size: cover;
    background-repeat: no-repeat;
}

.con2{
    height: 300px;
    background-color: black;
}


.cont1{
   height: 720px;
    padding-top: 30px;
}

.name p{
    font-size: 50px;
}

.menu  {

    margin-top: 20px;
    
}
.menu ul{
    list-style: none;
}
.menu li{
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;

}
.menu li a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}
/* .con:hover {
    background-color: white;
}
.po:hover{
    background-color: white;
}
.ab:hover{
    background-color: white;
} */
.ho:hover{
    background-color: white;
}
/* .pr:hover{
    background-color: white;
} */


.heading1{
    margin-top: 80px;
}


.heading1 p h1{
color: black;

}
.welcomenote {
    width: 350px;
    height: 250px;
    color:white;
   font-style: italic;
   font-size: 15px;

   /* background-color: black; */
}

.about{
    margin-top: 10px;
}
button {
    width: 150px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
    height: px; 
    background-color: black;
    color: white;
}

button:hover {
    background-color:rgb(255, 255, 255);
    color: black;
}


.container4{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    margin-top: -200px;
}

.name4 p{
    float: left;
    margin-left: 30px;
    font-size: 35px;
}
.connected ul{
    list-style: none;
    float: left;
    line-height: 70px;
    margin-top: 80px;
    font-size: 20px;
    margin-left: 150px;
    
}

.connected li{
    margin-right: 50px;
    padding-top: 50px;
    float: left;
    
}

.powered{
    float: right;
    margin-top:150px;
    margin-right: 230px;
    font-size: 15px;
    padding-top: 100px;
}



